//
// Variables
// --------------------------------------------------


//== Colors
//
//## Default brand colors
$network-color-bg: #345c88;
$network-color-text: rgba(255,255,255,0.5);

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$network-font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
$network-font-size-base: 12px !default;