
@import "bootstrap";

//
// All styling for the network directive are here
//

network {
  svg {
    background: #fff;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  text {
    font-size: 12px;
  }

  .link {
    stroke: #666;
    stroke-width: 1.5px;
    stroke-opacity: .6;
  }


  // Node styles

  .node {
    stroke: #000;
    stroke-width: 1.5px;

    text {
      fill: #000;
      stroke: #000;
      stroke-width: 0.5px;
    }

    text.label {
      font-size: 14px;
      text-transform: uppercase;
      stroke: purple;
    }
  }

  .black-square {
    fill: #000;
  }

  .blue-square, .blue-circle, .blue-person {
    fill: #0000ff;
  }
  .blue-square.img, .blue-circle.img, .blue-person.img {
    stroke: #0000ff;
  }

  .yellow-circle {
    fill: #ffff00;
  }
  .yellow-circle.img {
    stroke: #ffff00;
  }
  
  .red-circle {
    fill: #ff0000;
  }
  .red-circle.img {
    stroke: #ff0000;
  }


  // Selection styles

  .selection, .selected {
    fill: none;
    stroke: #888;
    stroke-width: 1.5px;
    stroke-dasharray: 5,5;
  }
}


//
// This styling is specific to the UI overlaid on the network-map
//

body {
  font-family: Oxygen, Helvetica, sans-serif;
  background: #eee;
}

.networkContainer {
  position: relative;
  margin: 8px 8px 0;

  .btnBar {
    position: absolute;
    left: 8px;
    bottom: 8px;
  }

  button.overlay {
    padding: 4px 9px;
    height: 28px;
  }

  .zoom {
    width: 32px;
  }

  .helpBtn {
    margin-left: 32px;
  }

  .panes {
    position: absolute;
    bottom: 8px;
    right: 0px;
  }

  .help, .editor {
    background: #fff;
    width: 400px;
    min-height: 218px;
    padding: 8px;
    margin: 8px 8px 0 0;

    .header {
      border-bottom: 1px solid #000;
      margin-bottom: 8px;
    }

    label {
      clear: left;
      float: left;
    }

    .field {
      margin: 8px 0 0 100px;

      input {
        width: 100%;
      }
    }

    .buttons {
      margin-top: 8px;
      clear: both;
    }
  }
}

.networkContainer, .editor, .help {
  border: 1px solid #000;
  box-shadow: 2px 2px 3px #ccc;
}


